<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <title>Sambram</title>
      <a href="http://localhost:8080/Home">Home</a><br><br>
      
   </head>
   <body>
	   <div th:if="${error}">
		  <p th:text="${'Invalid Credentials'}"/>
	  </div>
	  <div th:if="${pleaseLog}">
		  <p th:text="${'Please log in to book'}"/>
	  </div>
	   <form th:action="@{/login}" method = "post" th:object="${loginDto}">
		  <label>Mail:</label>
		  <input type="text" th:field="*{UserMail}"/><br><br>
		  <label>Password:</label>
		  <input type="password" th:field="*{Password}"/><br><br>
		  <input type="submit" value="Submit"/>
      </form>
      <p>New User? <a href="http://localhost:8080/signup">Signup</a></p>
   </body>
</html>